body {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.slide-wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
}

/* To improve performance */
.slide:hover {
  will-change: transform;
}

.slide li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 1.25rem;

  overflow: hidden;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.4);
  opacity: .8;
  transform: scale(.8);
  transition: .4s;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}

/*slide {
                       changing the first number the slide effect occurs
                      to do this, mouse movement and click events can be used as
                      a guide to change its value 
  transform: translate3d(-500px, 0, 0, 0);
}*/

