body {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.slide-wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
}

/* To improve performance */
.slide:hover {
  will-change: transform;
}

.slide li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 1.25rem;

  overflow: hidden;
  opacity: 0.8;
  transform: scale(0.8);
  transition: 0.4s;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}

[data-control="slide"] {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
}

[data-control="slide"] li a {
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  background-color: #fb5;
  border-radius: 50%;
  overflow: hidden;
  text-indent: -900px;
  margin: 0.45rem;
}

[data-control="slide"] li.active a,
[data-control="slide"] li a:hover {
  background: #e54;
}

.custom-controls {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.custom-controls li img {
  opacity: .8;
  transform: scale(.8);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin: 2px;
  box-shadow: 0 2px 2px rgba(0,0,0,.5);
  transition: .3s;
}

.custom-controls li.active img {
  opacity: 1;
  transform: scale(1);
}


.arrow-nav {
  display: flex;
  justify-content: space-around;
  margin: 1.25rem 0;
}

.arrow-nav button {
  cursor: pointer;
  border: none;
  border-radius: .25rem;
  color: #FFF;
  width: 2.5rem;
  height: 2.5rem;
  background: #FB5 url('../img/arrow.svg') center center no-repeat;
}

.arrow-nav button.prev {
  transform: rotate(180deg);
}


/*slide {
                       changing the first number the slide effect occurs
                      to do this, mouse movement and click events can be used as
                      a guide to change its value 
  transform: translate3d(-500px, 0, 0, 0);
}*/
